<div class="flex-row">
  <%= render 'shared/dashboard' %>
  <div class="flex-main">
    <% if @profile.errors.any? %>
      <%= render 'shared/errors', obj: @profile %>
    <% end %>
    
    <%= form_for(@profile, :html => {class: "form-horizontal"}) do |f| %>
      <% if @profile.empty? %>
        <h2>Create Your Profile</h2>
      <% else %>
        <h2 align="center">Edit Your Profile</h2>
      <% end %>
      
      <%= f.label :first_name, "First Name", class: "control-label" %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus:true %>
    
      <%= f.label :last_name, "Last Name", class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    
      <%= f.label :birth_year, "Birth Year", class: "control-label" %>
      <%= f.number_field :birth_year, class: "form-control", placeholder: "Birth Year" %>
      
      <%= f.label :country, "Country", class: "control-label" %>
      <%= f.select(:country, @profile.set_countries, {}, { class: "form-control" }) %>
    
      <%= f.label :administrative_division, "State/Province/Region", class: "control-label" %>
      <%= f.select(:administrative_division, @profile.set_administrative_divisions, {}, { class: "form-control" }) %>
      
      <%= f.label :city, "City", class: "control-label" %>
      <%= f.select(:city, @profile.set_cities, {}, { class: "form-control" }) %>
      
      <%= f.label :years_in_current_locale, "Years resided within 200 miles/320km of your current residence", 
                                            class: "control-label" %>
      <%= f.number_field :years_in_current_locale, class: "form-control", 
      placeholder: "Years resided within 200 miles/320km of your current residence" %>
      
      <%= f.label :race, "Race", class: "control-label" %>
      <%= f.select(:race, [['Caucasian'], ['Black'], ['Latino'], ['Middle Eastern'], 
      ['Asian'], ['Native Australian'], ['Native American']], {}, { class: "form-control" }) %>
    
      <%= f.label :ancestral_descent, "Ancestral Descent", class: "control-label" %>
      <%= f.text_field :ancestral_descent, class: "form-control", placeholder: "Ancestral Descent" %>
      
      <%= f.label :age_noticed_symptoms, "Age Noticed Symptoms", class: "control-label" %>
      <%= f.number_field :age_noticed_symptoms, class: "form-control", placeholder: "Age Noticed Symptoms" %>
      
      <%= f.label :age_urinary_malfunction, "Age Urinary Malfunction", class: "control-label" %>
      <%= f.number_field :age_urinary_malfunction, class: "form-control", placeholder: "Age Urinary Malfunction" %>
      
      <%= f.label :age_bladder_infection, "Age Bladder Infection", class: "control-label" %>
      <%= f.number_field :age_bladder_infection, class: "form-control", placeholder: "Age Bladder Infection" %>
      
      <%= f.label :story, "Your Story", class: "control-label" %>
      <%= f.text_area :story, class: "form-control", placeholder: "Tell us your story" %>
    
      <%= content_tag "div", id: "country_data", data: {country: @profile.country} do %>
      <% end %>
      
      <% if @profile.empty? %>
        <%= f.submit "Create Profile", class: 'btn btn-primary btn-lg' %>
      <% else %>
        <%= f.submit "Update Profile", class: 'btn btn-primary btn-lg' %>
      <% end %>
    <% end %>
  </div>
</div>
