<h2><%= @profile.user.username %></h2>

<% if @profile.errors.any? %>
  <%= render 'shared/errors', obj: @profile %>
<% end %>

<%= form_for(@profile, :html => {class: "form-horizontal"}) do |f| %>
  <%= render 'profile_fields', f: f %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <% if @profile.empty? %>
        <%= f.submit "Create Profile", class: 'btn btn-primary btn-lg' %>
      <% else %>
        <%= f.submit "Update Profile", class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
<% end %>