<% if @profile.empty? %>
  <h2 align="center">This user hasn't created a profile yet</h2>
<% else %>
  <h2><%= @profile.user.username %></h2>
  <h3>Profile</h3> 
  <% if !current_user.nil? && current_user == @profile.user %> 
    <div class="row">
      <div class="col-xs-3">
        <%= link_to "edit profile", edit_profile_path(@profile), class: "btn btn-xs btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-xs-3">
      <h4>Story</h4>
    </div>
    <div class="col-xs-8">
      <%= @profile.story %>
    </div>
  </div>

  <% if !current_user.nil? && (current_user == @profile.user || current_user.admin?) %>
    <div class="row">
      <div class="col-xs-3">
        <h4>Name</h4>
      </div>
      <div class="col-xs-8">
      <%= "#{@profile.first_name} #{@profile.last_name}" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Birth Year</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.birth_year %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Location</h4>
      </div>
      <div class="col-xs-8">
        <%= "#{@profile.city}, #{@profile.state_name}, #{@profile.country_name}" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Years Within 200miles/320km of current location</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.years_in_current_locale %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Race</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.race %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Ancestral Descent</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.ancestral_descent %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Age Noticed Symptoms</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.age_noticed_symptoms %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Age Urinary Malfunction</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.age_urinary_malfunction %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <h4>Age Bladder Infection</h4>
      </div>
      <div class="col-xs-8">
        <%= @profile.age_bladder_infection %>
      </div>
    </div>
  <% end %>
  
  <h3>PSA History</h3>
  <% if !current_user.nil? && current_user == @profile.user %> 
    <div class="row">
      <div class="col-xs-3">
        <%= link_to "edit psa history",
        "#{profile_psa_histories_path(@profile)}", class: "btn btn-xs btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <%= content_tag "canvas", id: "psa_chart", data: {psa: @psa_histories} do %>
  <% end %>
  
  <h3>Cholesterol History</h3>
  <% if !current_user.nil? && current_user == @profile.user %>
    <div class="row">
      <div class="col-xs-3">
        <%= link_to "edit cholesterol history", 
        "#{profile_cholesterol_histories_path(@profile)}", class: "btn btn-xs btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <%= content_tag "canvas", id: "total_cholesterol_chart", data: {totalcholesterol: @total_cholesterol_histories} do %>
  <% end %>
  
  <%= content_tag "canvas", id: "hdl_chart", data: {hdl: @hdl_histories} do %>
  <% end %>
  
  <%= content_tag "canvas", id: "ldl_chart", data: {ldl: @ldl_histories} do %>
  <% end %>
  
  <%= content_tag "canvas", id: "triglyceride_chart", data: {triglyceride: @triglyceride_histories} do %>
  <% end %>
  
  <%= content_tag "canvas", id: "glucose_chart", data: {glucose: @glucose_histories} do %>
  <% end %>
  
  <h3>Medications</h3>
  <% if !current_user.nil? && current_user == @profile.user %>
    <div class="row">
      <div class="col-xs-3">
        <%= link_to "edit medications",
        "#{profile_medications_path(@profile)}", class: "btn btn-xs btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <div class="table-scroll">
    <table id="medication_table">
      <tr>
        <th>Purpose</th>
        <th>Name</th>
        <th>Strength (mg)</th>
        <th>Dosage (times per day)</th>
        <th>Age Recommended</th>
        <th>Age Prescribed</th>
        <th>Month Last Used</th>
        <th>Year Last Used</th>
        <th>Still Using</th>
      </tr>
      <% @profile.medications.each do |medication| %>
      <tr>
        <td><%= medication.purpose %></td>
        <td><%= medication.name %></td>
        <td><%= medication.strength %></td>
        <td><%= medication.dosage %></td>
        <td><%= medication.age_recommended%></td>
        <td><%= medication.age_prescribed %></td>
        <td><%= months_select_array[medication.month_last_used.to_i][0] %></td>
        <td><%= medication.year_last_used %></td>
        <td><%= medication.still_using? ? "Yes" : "No" %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
