<%= render 'shared/errors', obj: @comment %>
<%= form_for([@topic, @post, @comment], url: url) do |f| %>
  <%= f.hidden_field(:parent_comment_id, :value => params[:parent_comment_id]) %>
  <div class='form-group'>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
