<h1><%= link_to @post.topic.name, topic_path(@post.topic) %></h1>

<%= render(@post) %>

<% if @comment %>
  <% if @comment.parent_comment %>
    <%= render(@comment.parent_comment) %>
  <% end %>
  <div class="highlight">
    <%= render(@comment) %>
  </div>
  <% @comment.children_tree(4).each do |child_comment| %>
    <%= render(child_comment) %>
    <% if child_comment.hidden_replies?(@comment, 4) %>
      <%= link_to "see additional replies", topic_post_comment_path(@post.topic, @post, child_comment), class: "margin-level-5" %>
    <% end %>
  <% end %>
<% else %>
  <% @post.direct_replies.each do |comment| %>
    <%= render(comment) %>
    <% comment.children_tree(5).each do |child_comment| %>
      <%= render(child_comment) %>
      <% if child_comment.hidden_replies?(comment, 5) %>
        <%= link_to "see additional replies", topic_post_comment_path(@post.topic, @post, child_comment), class: "margin-level-5" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>