<h2><%= @post.topic.name %></h2>

<%= render(@post) %>

<% if @comment %>
  <% if @comment.parent_comment %>
    <%= render '/comments/show', comment: @comment.parent_comment %>
  <% end %>
  <div class="highlight">
    <%= render '/comments/show', comment: @comment %>
  </div>
<% else %>
  <% @post.comments.each do |comment| %>
    <% if comment.parent_comment.nil? %>
      <%= render '/comments/show', comment: comment %>
    <% end %>
    <% unless (comment.child_comments.blank?) %>
      <% comment.child_comments.each do |child_comment| %>
        <%= render '/comments/show', comment: child_comment %>
      <% end %>
    <% end %>
  <% end %>
<% end %>