<tr class="nested-fields">
  <td><%= f.number_field :total_cholesterol, class: 'form-control', autofocus:true %></td>
  <td><%= f.number_field :hdl, class: 'form-control' %></td>
  <td><%= f.number_field :ldl, class: 'form-control' %></td>
  <td><%= f.number_field :triglyceride, class: 'form-control' %></td>
  <td><%= f.number_field :glucose, class: 'form-control' %></td>
  <td><%= f.select(:month, months_select_array, {}, { class: "form-control" }) %></td>
  <td><%= f.select(:year, year_select_array, {}, { class: "form-control" }) %></td>
  <td>
    <%= link_to_remove_association(f) do %>
      <button class="trashcan">
        <i class="fa fa-trash-o"></i>
      </button>
    <% end %>
  </td>
</tr>
