<nav>
  <ul>
    <li>
      <%= link_to "Prostate and Cholesterol", root_path, class: "navbar-brand" %>
    </li>
    <li>
      <%= link_to "Forum", topics_path %>
    </li>
    <% unless user_signed_in? %>
      <li>
        <%= link_to "Sign in", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
    <% else %>
      <% if current_user.profile.empty? %>
        <li>
          <%= link_to "Create Your Profile", edit_profile_path(current_user.profile) %>
        </li>
      <% else %>
        <li>
          <%= link_to "Edit Your Profile", edit_profile_path(current_user.profile) %>
        </li>
        <li>
        <%= link_to "#{current_user.username} Profile", current_user.profile %>
        </li>
      <% end %>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
</nav>
